/* La section des images */
/* Le perent déviation de notre slider */
* {
    margin: 0;
    text-align: center;
}



.slider11 {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 33px;
    /* height: 777px; */
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
}

.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 445px;
    border-radius: 9px;
    margin: 33px auto;
}

/* La feuille de style des elements images */
.img-slider {
    position: absolute;
    /* bottom: 222px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 122px;
    /* width: 645px; */
    height: 440px;
    border-radius: 9px;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-slider img {
    border-radius: 5px;
    height: 200px;
}

.test33 {
    background-color: gray;
    padding: 33px;
    border-radius: 22px;
    margin-top: 0;
    border: 6px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 199px;
    height: 260px;
}



.test34 {
 
    text-align: center;
    padding: 9px;
    transform: translateY(-180px);
    width: 420px;
    font-size: 15px;
}

.slider-container p {
    z-index: 55;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 11px;
    left: 22px;
    background-color: #1183d5;
    padding: 8px;
    border-radius: 9px;
}






.num-container {
    width: 600px;
    margin: 1px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 666px; */
}



/* La feuille de style des buttons précédent et suivant */

#pre,
#next {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #2e95e3;
    color: #fff;
}

#next:hover,
#pre {
    cursor: pointer;
    background-color: #2b9cf3;
}

#next:active {
    transform: translateX(4px);
    cursor: pointer;
}

#pre:active {
    transform: translateX(-4px);
    cursor: pointer;
}

/* On cas du button précédant et le button suivant disabled apliquer ces codes */
#pre:disabled,
#next:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    transform: translateX(0);
}


.num-container button {
    all: unset;
}

.numbers button {
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 20px;
    background-color: #f3f3f3;
    color: black;
}

@media (max-width: 834px) {
    .num-container {
        width: auto;
        height: auto;
        position: static;
    }

    #pre,
    #next {
        font-size: 16px;
        padding: 3px 5px;
        border-radius: 2px;
        background-color: #2e95e3;
        color: #fff;
    }

    .numbers button {
        opacity: 0;
    }

    .hide {
        display: none;
    }
}

.numbers button:hover {
    background-color: #2e95e3 ! important;
    color: white ! important;
    cursor: pointer;
}

.numbers button:active {
    padding: 4px 9px;
    cursor: pointer;
}

.active-number {
    background-color: #2e95e3 ! important;
    color: white ! important;
}


@media (max-width: 822px) {

    .slider11 h3 {
        font-size: 13px;
    }

    .img-slider {
        width: auto;
        height: 200px;
        position: absolute;
        left: 10px;
    }

    .num-container {
        margin-left: 10px;
    }

    @media (max-width: 600px) {
        .section{
            background-color: rgb(104, 101, 101);
            color: white;
            padding: 17px 11px 17px 17px;
            text-align: center;
            margin-right: 0;
        }
        .slider11 {
            max-width: 500px;
            /* width: 370px; */
            /* height: calc(100vh - 45px); */
            /* height: 455px; */
        }
        .slider-container {
            max-width: 400px;

            position: relative;
            /* gap: 11px; */
            top: 11px;
            height: 355px;
            margin: 0px 1px;

        }
    
        .img-slider {
            width: 350px;
            height: auto;
            left: 50%;
        }
    
    
        .img-slider img {
            display: none;
        }
    
        .test33 {
            width: auto;
            /* margin-bottom: 77px; */
            background-color: gray;
            padding: 3px;
            border-radius: 22px;
            margin-top: 0;
            border: 1px solid rgb(230, 222, 11);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 199px;
            height: 250px;
        }
    
        .test33 h4 {
            font-size: 15px;
        }
    
        .test34 {
            width: auto;
            height: auto;
            font-size: 15px;
        }
    
        .test33 h6 {
            width: auto;
            height: auto;
            margin: 9px 4px;
            padding: 9px;
        }
    
        .num-container {
            width: auto;
            height: 44px;
            margin-left: 10px;
            z-index: 777;
           
        }
    
        .slider-container p {
            display: none;
        }
    }
}

